<h1>Let's play Rock vs Sissors</h1>
<h3><a href="/rock">Rock</a></h3>
<h3><a href="/rock/sissors">Sissors</a></h3>

<% if @win == "Player1" %>
  <%= <h1> player1 won <h1> %>
<% else %>
  <%= <h1> player2 won <h1> %>
<%end%>
